$black_gra: linear-gradient(180deg, #111111cc 0%, #000000f2 100%);
$black_gra_1: linear-gradient(180deg, #202121e6 0%, #030303e6 100%);
$black_gra_2: linear-gradient(134.33deg, #464646 6%, #000000 83%);
$gold_gra: linear-gradient(80.14deg, #d2af54 29%, #ffedad 100%);
